env:
  global:
    - CC_TEST_REPORTER_ID=1f167fca0b5733a49d038da3fc0e8cf75c6ce4ad973c5f20e2328530a9b7cc48
language: node_js
node_js:
  - 10.15.2
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - bundle exec rspec
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT